# Dependencies
node_modules

# Build outputs
dist
build
.next
coverage

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Temp
.temp
.tmp

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea
.project
.classpath
.settings

# OS
.DS_Store